streamlit==1.20.0
#conda create --name sandbox python=3.9
#conda activate sandbox
watchdog
yfinance
#git clone https://github.com/streamlit/component-template # make sure the template folder is in home directory
#npm install
# in template folder install template as editable package
#pip install -e .
sympy
ipympl
scikit-learn
networkx
pydot
tensorflow==2.12    
Graphviz