ul {
    padding-left: 1.5rem;
  }

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}

h5 {
    text-align:center;
}

img {
    margin-left: 8rem;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

li.nav-item:hover {
    background-image: linear-gradient(90deg,#2E3192,#1BFFFF);
    color: black;
}
